<% layout('layout') -%>

<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> SafeKart </h1>
    <p>Starting point to buy items that ensure your safety </p>
  </div>
</div>
  <div class="row" align="center">
      <div class="col-lg-4">
        <img class="img-circle" src="http://www.qsignqatar.com/wp-content/uploads/2016/01/traffic-cones-250x250.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Safety device 1</h2>
        <p>Blah blah blah about that safety device!!!!!!!!!!!</p>
        <p><a class="btn btn-default" href="#category" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle" src="https://ae01.alicdn.com/kf/HTB1itYRMVXXXXataXXXq6xXFXXXn/Motorcycle-font-b-road-b-font-font-b-safety-b-font-Seat-Belt-Adjuster-Bike-font.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>safety device 2</h2>
        <p> Blah blah about thatttt safety device</p>
        <p><a class="btn btn-default" href="#category" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle" src="https://img.tolexokit.com/media/catalog/product/3/M/3M-Solar-Road-Stud_5.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2> safety device 3</h2>
        <p> Blah blah about that safety device</p>
        <p><a class="btn btn-default" href="#category" role="button">View details &raquo;</a></p>
      </div>
    </div>
    <br><br>
<!-- ............................................................................................................ -->
  <hr class="featurette-divider">
<div class="container" align="center">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> What are safety devices? <span class="text-muted"> It'll blow your mind. </span></h2>
        <p class="lead"> About safety devicessss....a full para</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="http://motivateme.in/wp-content/uploads/2016/01/10-Awareness-Pictures-on-Road-Safety-10.jpg" alt="Generic placeholder image">
      </div>
    </div>
<br><br>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">What are the importance of safety devices... <span class="text-muted">It'll blow your mind.</span></h2>
        <p> a paragraphn on the importance of safety devicessssss</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="http://news.images.itv.com/image/file/1301339/stream_img.jpg" alt="Generic placeholder image">
      </div>
    </div>
<br><br>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Where they are used? <span class="text-muted">How they contribute in saving your life?</span></h2>
        <p> Blah blah about themmmmmmmmmmmmmm.................</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="http://www.thefreshquotes.com/wp-content/uploads/2015/10/Better-Late-Than-Dead-On-Time.png" alt="Generic placeholder image">
      </div>
    </div>
<br><br>
    <hr class="featurette-divider">
</div>






<!-- <% layout('layout') -%>

<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1 class="text-center"> Find your favourite Product </h1>
    <p class="text-center">Search many of Ecommerce's products</p>
    <div class= "row">
      <div class="col-md-6 col-md-offset-3">
        <div class="input-group col-md-12">
          <input type="text" id="search" class="form-control input-lg" name="search_term" placeholder="Search for a Product ...">
          <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row" id="searchResults">

    <div class="row">

      <% for (var i = 0; i < products.length; i++) { %>
      <div class="col-md-4">
        <a href="/product/<%= products[i]._id %>">
          <div class="thumbnail">
            <img src="<%= products[i].image %>">
            <div class="caption">
              <h3><%= products[i].name %></h3>
              <p><%= products[i].category.name %></h3>
              <p>Rs <%= products[i].price %></p>
              <p>SPECIFICATIONS: <%= products[i].spec %></p>
              <p>FEATURES AND USES<%= products[i].uses %></p>
            </div>
          </div>
        </a>
      </div>
      <% } %>

    <ul class="pagination text-center">
      <li>
        <% for(var i = 1; i <= pages; i++) { %>
          <% if (i === 1)  {  %>
            <li><a href="/"><%= i %></a></li>
          <% } else { %>
            <li><a href="/page/<%= i %>"><%= i %></a></li>
          <% } %>
        <% } %>
      </li>
    </ul>
  </div>
</div> -->
